<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home | Ruby on Rails Thrive App</title>
  </head>
  <body>
<h1>Sample App</h1>
<p>
  This is the home page for <a href="http://terrellq.com">QT</a>
</p>
  </body>
</html>
