// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @media (min-width: 400px) {
//   .centerjumbotron {
//     position: relative;
//     top: 55%;
//   }
// }

.music {
  margin-top: 40px;
}

.btn-primary {
  position: relative;
  left: 0px;
}
nav, ul, li {
  color: red;
}
