// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.user_name {
  text-align: right;
}

.row {
  margin-top: 30px;
}
.stats {
  margin-top: 15px;
}

// iphone 5 320 568
@media (min-width: 320px) and (max-width: 568px){
  .users {
    display: block;

  }
  .navbar-inverse {
    height: 70px;
  }
  .user_name {
    font-size: 80%;
    margin-left: 15px;
  }
  .navbar-right {
    position: relative;
    left: 50px;
    top: -10px;
  }
  .gravatar {
    margin-left: -10px;
    margin-top: -20px;
    // height: 100px;
  }
  h6 {
    margin-top: 60px;
    font-size: 20px;
  }
  #new_user {
    position: relative;
    top: 30px;
  }
.btn-primary {
  position: relative;
  left: 0px;
  top: 5px;
}
.footer {
  // position: absolute;
  margin-top: 40px;
}
.footer, ul, li {
  position: relative;
  display: flex;
}
}

// galaxy s5 360 640
@media (min-width: 360px) and (max-width: 640px){
  .navbar-right {
    position: relative;
    left: 30px;
  }
}

// iphone 6 375 667
@media (min-width: 375px) and (max-width: 667px){
  .navbar-inverse{
    height: 70px;
  }
  .user_name {
    position: relative;
    left: -10%;
  }
  .navbar-right {
    position: relative;
    left: 40px;
    top: -15px;
  }
  .gravatar {
    margin-top: -20px;
  }
  h6 {
    margin-top: 30px;
    font-size: 20px;
  }
  #new_user {
    position: relative;
    top: 30px;
  }
.btn-primary {
  position: relative;
  left: 0px;
}

.users {
  display: block;
}
a {
  margin-left: 10px;
}
h1 {
  margin-top: 60px;
}
.footer {
  // position: absolute;
  margin-top: 20px;
}
}

@media (min-width: 412px) and (max-width: 732px) {
  #logo {
    margin-top: -10px;
  }
}

// iphone 6 plus
@media (min-width: 414px) and (max-width: 736px){
  .navbar-inverse{
    height: 70px;
  }
  .user_name {
    text-align: right;
  }
  .navbar-right {
    position: relative;
    left: 90px;
    top: -10px;
  }
  .gravatar {
    margin-top: -20px;
  }
  h6 {
    margin-top: 30px;
    font-size: 20px;
  }
  #new_user {
    position: relative;
    top: 30px;
  }
.btn-primary {
  position: relative;
  left: 0px;
}
  .footer {
    top: 270px;
    left: 40px;
  position: fixed;
  // margin-top: 1000px;
  // color: red;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .user_name {
    text-align: right;
    font-size: 20px;
  }
}

.footer {
  // position: absolute;
  margin-top: 440px;
}

.dropdown-menu li{
  background-color: red;
  height: 150px;
  color: red;
}
