<footer class="footer">
  <small>
    The <a href="http://www.terrellq.com">Sample App</a>
    by <a href="http://www.terrellq.com">Sample App 2</a>
  </small>

  <nav>
      <ul>
        <li><%= link_to "About", '#'%></li>
        <li><%= link_to "Contact", '#'%></li>
        <li><a href="http://www.terrellq.com">News</a></li>
      </ul>
  </nav>
</footer>
