<footer class="footer">
  <small>
    The <a href="http://www.terrellq.com">Music Life</a>
    application is a social media site geared towards musicians and musicians who like to play hymns, folk or acapello tunes in a group-band-jam session setting. <a href="http://www.terrellq.com">Music Life 2</a>
  </small>

  <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><a href="http://www.terrellq.com">News</a></li>
      </ul>
  </nav>
</footer>
